::ng-deep .set .p-fieldset{
    width: 310px;
    margin:10px;
    border: 2px solid rgb(210, 3, 3);
    background-color: hsla(0, 0%, 100%, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); 
}
::ng-deep .set .p-fieldset-legend{
   height:40px;
   border: 2px solid  orangered;
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); 
}
::ng-deep .p-fieldset-legend .p-ripple{
   height: 10px;
 }
::ng-deep .p-icon{
    margin-right:10px
}
.set,p-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 10px;
}
p-button{
    margin:20px
}
::ng-deep .field .p-button{
  height: 30px;
  width:140px;
  
}
::ng-deep .home .p-button{
    height:40px
}